<div class="container">
<form class="row g-3" (ngSubmit)="updateCustomer()">
    <h2>Update Customer Information</h2>
    <div class="col-md-6">
      <label for="name" class="form-label">Customer Name</label>
      <input type="name" class="form-control" id="name" name="name" [(ngModel)]="name" #name1="ngModel">
    </div>

      
    <div class="col-md-6">
      <label for="gender" class="form-label">Gender</label>
      <div class="form-control">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="male" value="male" [(ngModel)]="gender">
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="female" value="female" [(ngModel)]="gender">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
      </div>
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Meter Number</label>
        <input type="email" class="form-control" id="meterNo" name="meterNo" [(ngModel)]="meterNo" #meterNo1="ngModel">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Meter Type</label>
        <select id="meterType" name="meterType" [(ngModel)]="meterType" #meterType1="ngModel" class="form-select">
            <option selected>Residential</option>
            <option>Business</option>
            <option>Small Industry</option>
          </select>
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Issue Date</label>
        <input type="date" class="form-control" id="issueDate" name="issueDate" [(ngModel)]="issueDate" #issueDate1="ngModel">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">District</label>
        <input type="text" class="form-control" id="district" name="district" [(ngModel)]="district" #district1="ngModel">
      </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address" #address1="ngModel">
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" #email1="ngModel">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="phone" #phone1="ngModel">
      </div>
    <div class="col-12">
      <div class="row">
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-8">
            
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary ms-3" (click)="adminPage()">Back</button>
        </div>
      </div>
    </div>
  </form>
</div>

